@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html{
    padding: 0;
    margin: 0;
    scroll-padding-top: 120;
    scroll-behavior: smooth;
    letter-spacing: 3px;
}
*, *::after, *::before{
    box-sizing: border-box;
}

.logo{
    width: 8em;
}

.navbar-toggler,
.navbar-toggler-icon,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    text-decoration: none;
    max-width: 50vw;
}
nav a, nav ul li{
    text-decoration: none;
    list-style-type: none;
    padding: .4rem .5rem;
    transition: all .8s;
    font-size: 1rem;
    color: antiquewhite;
}

#my-photo{
    width: 300px;
    height: 300px;
}

#likes{
    background-image: url(imagens/bg-likes-removebg-preview.png);
    background-attachment: fixed;
}

#antes{
  height: auto;  
}
#depois{
    font-size: 3rem;
    font-weight: bold;
}

footer{
    padding: 5px 0;
    color: #5584AC;;
    text-align: center;
}
.fontawesome{
    font-size: 4rem;
    padding: 2px 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.fontawesome a{
    color: grey;
}


@media (min-width: 768px) {


    #antes{
        text-align: center;
    }

    #antes{
        display: flex;
        justify-content: space-between;
    }
    #depois{
        font-size: 3rem;
        font-weight: bold;
        padding: 0;
    }

    footer{
        display: flex;
        justify-content: space-around;
    }

    footer p{
        text-align: center;
        font-size: 1.5rem;
        
    }

    .fontawesome{
        font-size: 4rem;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    .fontawesome a{
        margin: 0 20px;
    }

    .fontawesome a:hover{
        font-size: 5rem;
    }
}